h1,h2,h3,h4,p,body {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

* {
    box-sizing: border-box;
}

.div {
    text-align: center;
    margin-top: 20px;
}

.dropdown {
    position: relative;
}

.sm-menu {
    display: none;
    float: right;
    text-align: center;
}

.buttonn {
    background-color: transparent;
    color: black;
    padding: 16px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;

}

.sm-content {
    display: none;
    position: absolute;
    color: black;
    background-color: #f9ece6;;
    min-width: 725px;
    z-index: 1;
    right: -10px;
    margin: 10px;
}

.sm-content a {
    color: black;
    padding: 10px 0px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.sm-content a:hover {
    background-color: #f9ece6;
}

.dropdown:hover .sm-content {
    display: block;
}

.div1  {
    background-color: #f9ece6;
    padding: 20px;
    margin: 20px;
    margin-bottom: 0;
    border-radius: 10px 10px 0px 0px;
    text-align: center;   
}

.div1 i {
    padding-right: 10px;
}


.block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 700px;
    margin: 0px 20px;
    clear: both;
    background-color: #f89cab;
    border-radius: 0px 0px 10px 10px;
    overflow: auto;
    align-items: center;
}

.div1 a {
    text-decoration: none;
    color: black;
    padding: 20px;
}

a:hover {
    background-color: white;
    padding: 10px 10px;
    border-radius: 10px;
}

.div2 {
    width: 55%;
    text-align: left;
    color: white;
}

.div2 h1 {
    font-size: 4rem;
}

.div2 p {
    font-size: 20px;
    margin-bottom: 30px;
}

.div2 button {
    font-size: 18px;
    color: white;
    background-color: #db4566;
    padding: 12px 40px;
    border: none;
    border-radius: 5px;
}

.div3 {
    width: fit-content;
}

.div4 {
    margin: 30px;
    text-align: center;
}

.block1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    
}

.div5 {
    position: relative;
    width: 22%;
    
    background-color: #eeeeee;
    text-align: center;
}

.div5 img {
    width: 100%;
    height: 90%;
    padding: 50px;
}

.div6 {
    width: 50px;
    height: 50px;
    position: absolute;
    background: white;
    margin-left: 10px;
    top: 10px;
    border-radius: 50%;

}

.div6 span {
    display: inline-block;
    transform: translatey(80%);

}

.div7 {
    position: absolute;
    left: 10px;
    bottom: 10px;
    float: left; 
}

.div8 {
    position: absolute;
    bottom: 10px;
    right: 10px;
    float: right;
   
}

.div8 span {
    color: #db4f66;
    padding-left: 5px;
    font-weight: 600;
}

.div9 {
    text-align: center;
}
.div9 button {
    font-size: 16px;
    text-align: center;
    color: white;
    background-color: #f16179;
    padding: 13px 35px;
    margin: 40px;
    border: none;
    border-radius: 5px;  
}

.block2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    background-color: #7fd7eb;
    color: white;
    align-items: center;
    padding: 40px;
    border-radius: 15px;
    
}

.div10 {
    width: 45%;
    
}

.div11 {
    width: 35%;
    margin-top: 60px;

}

.div11 h1,p {
    margin-bottom: 20px;
}

.button {
    font-size: 18px;
    border: none;
    color: white;
    background-color: #109dbd;
    padding: 15px 40px;
    margin-right: 10px;
}

.button1 {
    font-size: 18px;
    border: none;
    color: black;
    background-color: #ffffff;
    padding: 15px 36px;
    
}

.div11 .button:hover {
    background-color: #7fd7eb;
    color: #109dbd;
    border: 1px solid gray;
}

.div11 .button1:hover {
    background-color: #109dbd;
    color: white;
    border: 1px solid white;
    
}

section {
    margin: 50px;
}

section h1 {
    text-align: center;
    margin-bottom: 15px;
}

.block3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    
}

.div12 {
    width: 25%;
    padding: 15px;
    margin: 20px;
    background-color: #f9f8f7;
}

.div12 i {
    font-size: 2em;
    color: #834ab8;
    margin-bottom: 10px;
} 

.div12 p {
    font-size: 18px;
}

.block4 {
    height: auto;
    margin: 40px;
    padding: 20px;
    border-radius: 20px;
    background-color: #6929a5;
    overflow: auto;

}

.div13 {
    float: left;
    width: 50%;
    height: auto;
    
}

.div14 {
    float: right;
    width: 48%;
    height: auto;
    color: white; 
    padding-top: 16%;
}

.div14 p {
    font-size: 18px;
}

.div14 .button:hover {
    background-color: #6929a5;
    color: white;
    border: 1px solid white;
}

.div14 .button1:hover {
    background-color: #6929a5;
    color: #109dbd;
    border: 1px solid #109dbd;
    
}

.block5 {
    width: 85%;
    height: auto;
    margin: auto;
    overflow: auto;
    margin-bottom: 20px;
}

.block5 h1 {
    margin-bottom: 30px;
    font-weight: 700;
}

.block5 .shadow {
    box-shadow: rgb(59, 58, 58) 3px 3px 10px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 50px;
}
.div15 {
    width: 50%;
}

.div15 img {
    height: 100%;
}
.div16 {
    width: 47%;
    height: auto;
    padding: 15px;
    text-align: center;
    background-color: #ffffff;
}

.div16 input {
    width: 100%;
    margin-top: 8px;
    padding: 10px;
    align-items: center;
    font-size: 18px;
}

.div16 textarea {
        width: 100%;
        margin-top: 8px;
        padding: 10px;
        align-items: center;
        font-size: 18px;
}


.div16 button {
    color: white;
    background-color: #db4f66;
    padding: 15px 40px;
    margin: 20px;
    border: none;
}

.div16 button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.block6 {
    max-width: 75%;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;

}

.div17 {
    box-shadow: 3px 3px 8px;
    padding: 20px;
    text-align: left;
    margin-top: 20px;
}

.div17 h2,h3,p{
    margin-top: 10px;
}

.div17 h2{
    color: #db4f66;
}

.block6 h3 {
    color: rgb(163, 161, 161);
}

.block7 {
    margin: 50px;
    background-color: #212934;
    color: #c1c9c9;
    padding: 40px;
}

.flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.block7 span {
    color: #cbc9c9;
}

.icons {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    margin: 30px;
}


.div18 {
    width: 21%;
    margin-right: 30px;
    font-size: 18px;
    line-height: 1.6;
}

.div18 h2 {
    color: white;
}

.div18 input {
    width: 100%;
    background-color: white;
    color: gray;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
}

.div18 button {
    background-color: #f89cab;
    color: white;
    padding: 10px 30px;
    border: none;
}

.div19 p {
    display: block;
    width: 70%;
    margin:auto;
    border-top: 1px solid #eeeeee;
    text-align: center;
    padding-top: 15px;

}

@media only screen and (max-width:992px) {
    
    .block1 {
        padding: 20px;
    }
    
    .div10 {
        width: 95%;
    }

    .div11 {
        width: 90%;
    }

    .div18 {
        width: 21%;
    }

    .div {
        display: flex;
        justify-content: space-between;
        text-align: left;
        align-items: center;
        margin: 20px;
    }
    
    .div1 {
        display: none;
    }

    .sm-menu {
        display: inline-block !important;
    }

    .div5 {
        width: 23%;
    }

     .div16 input {
        width: 90%;
        margin-top: 14px;
        font-size: 18px;
    }

    .div16 textarea {
        width: 90%;
        margin-top: 14px;
        padding: 10px;
        align-items: center;
        font-size: 18px;
    }


    .div18 {
        width: 43%;
        margin: 0;
    }
}


@media only screen and (max-width:768px) {
    
    .div {
        display: flex;
        justify-content: space-between;
        text-align: left;
        align-items: center;
        margin: 20px;
    }
    
    .div1 {
        display: none;
    }

    .sm-menu {
        display: inline-block !important;
    }

    .div5 {
        width: 30%;
    }

    .div12 {
        width: 22%;
    }

    .div14 {
        transform: translateY(-53px);
    }

    .button {
        padding: 15px 30px;
    }

    .button1 {
        padding: 15px 30px;
    }

    .div16 input {
        width: 89%;
        margin-top: 16px;
        font-size: 18px;
    }

    .div16 textarea {
        width: 89%;
        margin-top: 12px;
        padding: 10px;
        align-items: center;
        font-size: 18px;
    }


}

@media only screen and (max-width:600px) {

    .block {
        width: 100%;
        height: 100%;
    }

    .div2 {
        width: 100%;
        padding: 25px;
    }

    .div3 {
        width: 40%;
        height: auto;
        margin: 0;
    }

    .div5 {
        width: 45%;
    }

    .div10 {
        width: 90%;
    }

    .div11 {
        width: 90%;
    }

    .div12 {
        width: 75%;
    }

    .div13 {
        width: 90%;
        float: none;
    }

    .div14 {
        width: 90%;
        float: none;
    }

    .div15 {
        width: 100%;
    }

    .div16 {
        width: 100%;
    }

    .div16 textarea {
        width: 89%;
        margin-top: 12px;
        padding: 7px;
        align-items: center;
        font-size: 18px;
    }

    .div18 {
        width: 95%;
        line-height: 1.5;
    }
}